In [42]:
import pandas as pd

In [43]:
str1= '''730
570
578080
945360
252950
271590
359550
440
252490
346110
381210
230410
218620
582010
289070
105600
251570
550
306130
236390
304930
4000
238960
322330
394360
377160
39210
594570
8930
281990
386360
582660
294100
438100
489830
292030
413150
435150
291550
242760
255710
275850
239140
236850
444200
787860
440900
227300
761890
601510'''

In [44]:
applist = str1.split('\n')

In [45]:
applist

['730',
 '570',
 '578080',
 '945360',
 '252950',
 '271590',
 '359550',
 '440',
 '252490',
 '346110',
 '381210',
 '230410',
 '218620',
 '582010',
 '289070',
 '105600',
 '251570',
 '550',
 '306130',
 '236390',
 '304930',
 '4000',
 '238960',
 '322330',
 '394360',
 '377160',
 '39210',
 '594570',
 '8930',
 '281990',
 '386360',
 '582660',
 '294100',
 '438100',
 '489830',
 '292030',
 '413150',
 '435150',
 '291550',
 '242760',
 '255710',
 '275850',
 '239140',
 '236850',
 '444200',
 '787860',
 '440900',
 '227300',
 '761890',
 '601510']

In [46]:
df = pd.read_csv("730.csv")
df = df[['DateTime', 'Players']]
df = df.rename(columns={'Players': '730'})
df

                 DateTime       730
0     2011-11-30 00:00:00     680.0
1     2011-12-01 00:00:00       NaN
2     2011-12-02 00:00:00       NaN
3     2011-12-03 00:00:00       NaN
4     2011-12-04 00:00:00       NaN
...                   ...       ...
3263  2020-11-05 00:00:00  900839.0
3264  2020-11-06 00:00:00  966137.0
3265  2020-11-07 00:00:00  988989.0
3266  2020-11-08 00:00:00  972546.0
3267  2020-11-09 00:00:00  891145.0

[3268 rows x 2 columns]

In [47]:
for i in applist:
    filename = i + '.csv'
    temp = pd.read_csv(filename)
    players = temp[['DateTime', 'Players']]
    players = players.rename(columns={'Players': i})
    df = pd.merge(df, players, how='outer')

In [48]:
df = df.sort_values(by=['DateTime'])

In [50]:
df = df.reset_index(drop=True)

In [51]:
df.to_csv('SteamDataframe.csv')

In [55]:
df_final = df.iloc[5094:5773,:]

In [56]:
df_final.to_csv('SteamDF_pruned.csv')